body {
	font-family: "times new roman";
	font-size: 20pt;
}
h1 {
	color: #ffffff;
}

li {
	list-style: none;
	line-height: 40px;
}

#box1 {
	background-color: #3b5998;
	text-align: center;
}
#box2 {
	background-color: #e6e6f2;
	text-align: center;
	
}
#box3 {
	background-color: #3b5998;
	text-align: center;
}
