body {
	font-family: "times new roman";
	font-size: 20pt;
}
h1 {
	color: #ffffff;
}

li {
	list-style: none;
	line-height: 40px;
}
#box4 li {
	list-style: disc;
}

#box1 {
	background-color: #ab96a5;
	text-align: center;
}
#box2 {
	background-color: #e6e6f2;
	padding: 20px;
}
#box4 {
	background-color: #e6e6f2;
	line-height: 1.5; 
	font-size: 14pt;
	padding: 20px;
}
#box5 {
	background-color: #e6e6f2;
	line-height: 1.5; 
	font-size: 14pt;
	padding: 20px;
}
#box3 {
	background-color: #ab96a5;
	text-align: center;
}
